---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
templateClass: tmpl-posts
---

<div class="post-container">
<h1 class="post-title">Posts</h1>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>
