---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="index-content">
  <h1>Pontakorn's Digital Garden</h1>
  <p>This is a digital garden, not a blog. You won't find any post here but you can find some tags.</p>
  {% set tagList = collections.tagList | filterTagList %}
  {% for tag in tagList %}
   {% set tagUrl %}/tags/{{tag | slug }}/{% endset %}
   <a href="{{ tagUrl | url }}" class="post-tag">{{tag}}</a>
  {% endfor %}
</div>

