---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="index-content">
  <h1 class="home-title">Pontakorn's Digital Garden</h1>
  <p class="home-caption">
  ที่นี่เป็น Digital Garden ไม่ใช่ Blog ครับผม จะกึ่ง ๆ ระหว่างการจดบันทึกกับการทำ blog ครับ ไม่ได้เคร่งเรื่องการลำดับเนื้อหา
  มากนัก ลองค้นโพสต์จาก tags ที่มีอยู่ดูครับ
  </p>
  {% set tagList = collections.tagList | filterTagList %}
  {% for tag in tagList %}
   {% set tagUrl %}/tags/{{tag | slug }}/{% endset %}
   <a href="{{ tagUrl | url }}" class="post-tag">{{tag}}</a>
  {% endfor %}
</div>

