---
permalink: /tags/
layout: layouts/list.njk
templateClass: tmpl-posts
---
<h1 class="post-title">Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
