---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="post-container">
<h1 class="post-title">{{ title }}</h1>

<time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
<div class="tag-list" style="display: inline-block">
    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endfor %}
</div>

<div class="post-content">
{{ content | safe }}
</div>